# Copy this file to .env and fill in your email SMTP settings
SENDER_EMAIL="laxmimaru66@gmail.com"
EMAIL_PASSWORD="yrvnltskfjlxjhyo"
RECEIVER_EMAIL="laxmimaru66@gmail.com"
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT=587
